<!DOCTYPE html>
<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='img/favicons/favicon.ico' rel='icon' type='image/png'>
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta charset="UTF-8">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="bqRyKw1zPGDQz88ziKXGW4aXjdjHada94FLwHXMiG7EdsaMtnMtJ97adbhBre3GTLOKCD8L/XslNFSoEw6q2rw==" />
    <link rel="stylesheet" media="screen" href="css/bootstrap.css" data-turbolinks-track="true" />
    <link href="css/style-82475caffdf84a102e6ba777aba7d3f7d0d22ddd.css" rel="stylesheet" data-turbolinks-track="true"></link>
    <title>THE PHOTOGRAPHY CLUB</title>
    <meta name="brand_video_player_color" content="#ed6c35" />
    <style></style>
    <script src='//fast.wistia.com/assets/external/E-v1.js'></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script src=""></script>
    <script src="js/application-392c65ce02d4ed1301d5397d98dc08dfd5806f7cdfcf23a93f81606bf6cacd56.js" data-turbolinks-track="true"></script>
    <script src="js/student-f26a4bcc75b257dba627.js"></script>

    <link href="/blog/rss" rel="alternate" title="RSS Feed" type="application/rss+xml" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>

<body class='body-content-view'>
    <meta http-content='IE=Edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width,initial-scale=1.0,user-scalable=no' name='viewport'>

    <!-- Lecture Header -->
    <header class='full-width half-height is-signed-in'>
        <div class="navbar navbar-fedora">
            <div class='navbar-header'>
                <div class='lecture-left'>
                    <a class='nav-icon-back' href="/courses/">
                        <i class='fa fa-angle-left'></i>
                    </a>
                </div>
                <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
                    <span class='sr-only'>
            Toggle navigation
          </span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>

                <!-- Header Menu -->
                <div class='collapse navbar-collapse navbar-header-collapse'>
                    <ul class='nav navbar-nav navbar-right'>

                        <div class='navbar-enrolled'>
                            <!-- Sidebar Nav -->

                            <li class="">
                                <a href='Class-Curriculum.html' class='sidebar-nav-link'>
                                    <span class='lecture-sidebar-icon'>
          <i class='fa fa-list-alt'></i>
        </span> Class Curriculum
                                </a>
                            </li>

                            <li class="">
                                <a href='initial_assesment.html' class='sidebar-nav-link'>
                                    <span class='lecture-sidebar-icon'>
          <i class='fa fa-th'></i>
        </span> Assesment & Report
                                </a>
                            </li>
                            <li class="">
                                <a href='included_courses.html' class='sidebar-nav-link'>
                                    <span class='lecture-sidebar-icon'>
          <i class='fa fa-th'></i>
        </span> Included Courses
                                </a>
                            </li>

                            <li class="">
                                <a href='instructor.html' class='sidebar-nav-link'>
                                    <span class='lecture-sidebar-icon'>
        <i class='fa fa-user'></i>
      </span> Your Instructor
                                </a>
                            </li>
                        </div>
                        <li class='dropdown'>
                            <a aria-expanded='false' aria-haspopup='true' class='fedora-navbar-link navbar-link dropdown-toggle open-my-profile-dropdown' data-toggle='dropdown'>
                                <img class='gravatar' src='img/author-img.png' alt="owaizkhan10@gmail.com">
                                <span class='navbar-current-user'>Sidarth</span>
                            </a>
                            <ul class='dropdown-menu'>
                                <li class='user-profile'>
                                    <a href='/current_user/profile'>
      Edit Profile
    </a>
                                </li>
                                <li>
                                    <a href='/current_user/subscriptions'>
      Manage Subscriptions
    </a>
                                </li>
                                <li>
                                    <a href='/current_user/credit_card'>
      Add / Change Credit Card
    </a>
                                </li>
                                <li>
                                    <a href='/current_user/contact'>
      Contact
    </a>
                                </li>
                                <li class='user-signout'>
                                    <a href='/sign_out'>
      Log Out
    </a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class='course-sidebar'>
  <!-- Image & Title -->
  <img class='course-image' src='img/course-4.jpg'>
  <h2>Social Media LAUNCHPAD!</h2>
  <!-- Course Progress -->
  <div class='course-progress'>
    <div class='progressbar'>
      <div class='progressbar-fill' style='min-width: 55%;'></div>
    </div>
    <div class='small course-progress'>
      <span class='percentage'>
        55%
      </span>
      COMPLETE
    </div>
  </div>
  <ul class='sidebar-nav'>
      <!-- Sidebar Nav -->

    <li class="selected">
      <a href='Class-Curriculum.html' class='sidebar-nav-link'>
        <span class='lecture-sidebar-icon'>
          <i class='fa fa-list-alt'></i>
        </span>
        Class Curriculum
      </a>
    </li>

    <li class="selected">
      <a href='initial_assesment.html' class='sidebar-nav-link'>
        <span class='lecture-sidebar-icon'>
          <i class='fa fa-list-alt'></i>
        </span>
        Assesment & Reports
      </a>
    </li>

    <li class="">
      <a href='included_courses.html' class='sidebar-nav-link'>
        <span class='lecture-sidebar-icon'>
          <i class='fa fa-th'></i>
        </span>
        Included Courses
      </a>
    </li>

  <li class="">
    <a href='instructor.html' class='sidebar-nav-link'>
      <span class='lecture-sidebar-icon'>
        <i class='fa fa-user'></i>
      </span>
      Your Instructor
    </a>
  </li>



  </ul>
</div>


    <div class='course-mainbar' style='display: block;'>

  <!-- Meta tag for tracking lecture progress -->
<meta id="lecture-completion-data" data-last-lecture-id="1445804" data-last-lecture-url="/courses/86710/lectures/1445804" />

<h2 class='section-title'>
  Class Curriculum
</h2>
<div class='next-lecture-wrapper'>
  <a class='btn btn-primary start-next-lecture' data-no-turbolink='true'>Start next lecture&nbsp;&nbsp;&#8250;</a>
  <span class='next-lecture-name hidden-sm'></span>
</div>

<!-- Lecture list on courses page (enrolled user) -->

<div class='row'>
  <div class='col-sm-12 course-section'>
    <div class='section-title' data-release-date="" data-days-until-dripped="0" data-is-dripped-by-date="false" data-course-id="86710">
      <span class="section-lock">
        <i class="fa fa-lock"></i>&nbsp;
      </span>
      Introduction
      <div class="section-days-to-drip">
        <div class="section-days-logged-in">
          Available in
          <span class="section-days-to-drip-number"></span>
          days
        </div>
        <div class="section-days-logged-out">
          <span class="section-days-to-drip-number"></span>
          days
          after you enroll
        </div>
      </div>
    </div>
    <ul class='section-list'>

      <li class='section-item incomplete' data-lecture-id="1458263">
        <a class='item' data-no-turbolink='true' href='single-class.html'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Welcome - Your Journey Starts Here

                (4:16)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453618">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453618'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              How To Get The Best Value From This Course

                (4:12)


            </span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 course-section'>
    <div class='section-title' data-release-date="" data-days-until-dripped="0" data-is-dripped-by-date="false" data-course-id="86710">
      <span class="section-lock">
        <i class="fa fa-lock"></i>&nbsp;
      </span>
      Section 1 - Setting Your Foundations
      <div class="section-days-to-drip">
        <div class="section-days-logged-in">
          Available in
          <span class="section-days-to-drip-number"></span>
          days
        </div>
        <div class="section-days-logged-out">
          <span class="section-days-to-drip-number"></span>
          days
          after you enroll
        </div>
      </div>
    </div>
    <ul class='section-list'>

      <li class='section-item incomplete' data-lecture-id="1442637">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442637'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              Why Social Media Is Important For Business?

                (18:42)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1442740">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442740'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              Donuts & Social Media - How Each Platform Is Different?

                (5:40)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1442752">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442752'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              7 Step Process To Creating Your Social Media Strategy

                (11:59)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1442810">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442810'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              Creating Your Customer Avatar - Who's Your Ideal Prospect?

                (4:53)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1442816">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442816'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Self Evaluation Test - Where Do You Stand?

                (2:03)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1442860">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442860'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              What Do Your TEST RESULTS Really Mean?

                (1:36)


            </span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 course-section'>
    <div class='section-title' data-release-date="" data-days-until-dripped="2" data-is-dripped-by-date="false" data-course-id="86710">
      <span class="section-lock">
        <i class="fa fa-lock"></i>&nbsp;
      </span>
      Section 2 - LinkedIn Masterclass
      <div class="section-days-to-drip">
        <div class="section-days-logged-in">
          Available in
          <span class="section-days-to-drip-number"></span>
          days
        </div>
        <div class="section-days-logged-out">
          <span class="section-days-to-drip-number"></span>
          days
          after you enroll
        </div>
      </div>
    </div>
    <ul class='section-list'>

      <li class='section-item incomplete' data-lecture-id="1442863">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442863'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Introduction - How Does LinkedIn Really Work For Business?

                (3:00)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1442865">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442865'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              How To Rank Your Profile On LinkedIn Search Engines Within 10 Days

                (4:59)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1442869">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442869'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              How To Strategically Grow Your LinkedIn Network To Attract More Business

                (5:44)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1442871">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442871'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              How To Smartly Nurture & Grow Relationships On LinkedIn

                (9:07)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1442874">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442874'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              How To Effectively Leverage LinkedIn Groups To Gain Better Visibility

                (8:05)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1442927">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442927'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              How To Use LinkedIn Company Pages To Grow Your Brand

                (6:01)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1442928">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442928'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              How To Use LinkedIn Apps To Grow Your Business On The Move

                (8:12)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1442930">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442930'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              LinkedIn Free vs Premium - What's The Difference?

                (4:08)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1442932">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1442932'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              Connecting The Dots - Your Best 15mins/Day LinkedIn Action Plan

                (2:57)


            </span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 course-section'>
    <div class='section-title' data-release-date="" data-days-until-dripped="4" data-is-dripped-by-date="false" data-course-id="86710">
      <span class="section-lock">
        <i class="fa fa-lock"></i>&nbsp;
      </span>
      Section 3 - Facebook Masterclass
      <div class="section-days-to-drip">
        <div class="section-days-logged-in">
          Available in
          <span class="section-days-to-drip-number"></span>
          days
        </div>
        <div class="section-days-logged-out">
          <span class="section-days-to-drip-number"></span>
          days
          after you enroll
        </div>
      </div>
    </div>
    <ul class='section-list'>

      <li class='section-item incomplete' data-lecture-id="1445698">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1445698'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Introduction - How To Tap Into Facebook's True Potential For Business?

                (1:44)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1445700">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1445700'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              What's The Difference Between Facebook Profiles, Pages & Groups?

                (8:32)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1460287">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1460287'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              How To Attract & Become A Facebook Influencer Using Your Personal Profile

                (10:52)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1445704">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1445704'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              How To Use Facebook Pages To Attract & Engage More Customers

                (20:51)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1445748">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1445748'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              Facebook Advertising: The Magic Of Super-Targeting & Generating Quality Leads

                (23:38)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1445787">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1445787'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              How To Allocate Advertising Budgets For Facebook Without Getting Burnt Out

                (7:13)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1445796">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1445796'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              Top Facebook Marketing Tools To Make Your Life Easier

                (5:05)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1445804">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1445804'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              Connecting The Dots - Your Best 15mins/Day Facebook Action Plan

                (2:41)


            </span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 course-section'>
    <div class='section-title' data-release-date="" data-days-until-dripped="6" data-is-dripped-by-date="false" data-course-id="86710">
      <span class="section-lock">
        <i class="fa fa-lock"></i>&nbsp;
      </span>
      Section 4 - Twitter Masterclass
      <div class="section-days-to-drip">
        <div class="section-days-logged-in">
          Available in
          <span class="section-days-to-drip-number"></span>
          days
        </div>
        <div class="section-days-logged-out">
          <span class="section-days-to-drip-number"></span>
          days
          after you enroll
        </div>
      </div>
    </div>
    <ul class='section-list'>

      <li class='section-item incomplete' data-lecture-id="1445818">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1445818'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Introduction - How To Use Twitter To Get More Business

                (1:10)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1451298">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1451298'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              How To Smartly Use Hashtags To Increase Reach & Visibility

                (13:57)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453172">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453172'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              Twitter Advertising: How To Quickly Setup Campaigns

                (7:26)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453192">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453192'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              Top Twitter Tools To Automate Marketing & Make Your Life Easier

                (4:47)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453204">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453204'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              Connecting The Dots - Your Best 15mins/Day Routine On Twitter

                (3:13)


            </span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 course-section'>
    <div class='section-title' data-release-date="" data-days-until-dripped="7" data-is-dripped-by-date="false" data-course-id="86710">
      <span class="section-lock">
        <i class="fa fa-lock"></i>&nbsp;
      </span>
      Section 5 - Instagram Masterclass
      <div class="section-days-to-drip">
        <div class="section-days-logged-in">
          Available in
          <span class="section-days-to-drip-number"></span>
          days
        </div>
        <div class="section-days-logged-out">
          <span class="section-days-to-drip-number"></span>
          days
          after you enroll
        </div>
      </div>
    </div>
    <ul class='section-list'>

      <li class='section-item incomplete' data-lecture-id="1453211">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453211'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Introduction - How To Use Instagram To Visually Attract Customers

                (1:06)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453216">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453216'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              Advanced Instagram Techniques To Grow Your Audience

                (16:29)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453232">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453232'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              How To Run Ads Into Instagram From Facebook Business Manager

                (2:07)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453240">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453240'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              Connecting the Dots - Your Best 15min/Day Instagram Action Plan

                (2:09)


            </span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 course-section'>
    <div class='section-title' data-release-date="" data-days-until-dripped="8" data-is-dripped-by-date="false" data-course-id="86710">
      <span class="section-lock">
        <i class="fa fa-lock"></i>&nbsp;
      </span>
      Section 6 - Pinterest Masterclass
      <div class="section-days-to-drip">
        <div class="section-days-logged-in">
          Available in
          <span class="section-days-to-drip-number"></span>
          days
        </div>
        <div class="section-days-logged-out">
          <span class="section-days-to-drip-number"></span>
          days
          after you enroll
        </div>
      </div>
    </div>
    <ul class='section-list'>

      <li class='section-item incomplete' data-lecture-id="1453268">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453268'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Introduction - How Can Pinterest Be Used For Business

                (0:54)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453269">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453269'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              How To Get More Traffic To Your Website Thru Pinterest Content

                (12:58)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453277">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453277'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-lightbulb-o'></i>
            </span>
            <span class='lecture-name'>
              Connecting The Dots - Your Best Weekly Pinterest Action Plan

                (2:15)


            </span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 course-section'>
    <div class='section-title' data-release-date="" data-days-until-dripped="10" data-is-dripped-by-date="false" data-course-id="86710">
      <span class="section-lock">
        <i class="fa fa-lock"></i>&nbsp;
      </span>
      Section 7 - Blogging Masterclass
      <div class="section-days-to-drip">
        <div class="section-days-logged-in">
          Available in
          <span class="section-days-to-drip-number"></span>
          days
        </div>
        <div class="section-days-logged-out">
          <span class="section-days-to-drip-number"></span>
          days
          after you enroll
        </div>
      </div>
    </div>
    <ul class='section-list'>

      <li class='section-item incomplete' data-lecture-id="1453282">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453282'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Introduction - Understanding The Concepts Of Business Blogging

                (1:03)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453284">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453284'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              10 Critical Components To Running A Successful Blog

                (12:34)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453290">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453290'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Keyword Research: How To Attract The Right Traffic To Your Blog

                (9:00)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453292">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453292'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              SEO - How To Optimise Your Blogs To Rank On Google Page 1

                (6:07)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453294">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453294'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              10 Ways + 41 Different Ideas To Monetise Your Blog

                (4:29)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453312">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453312'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Connecting The Dots: Develop Your Ultimate Blogging Content Strategy

                (9:41)


            </span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 course-section'>
    <div class='section-title' data-release-date="" data-days-until-dripped="12" data-is-dripped-by-date="false" data-course-id="86710">
      <span class="section-lock">
        <i class="fa fa-lock"></i>&nbsp;
      </span>
      Section 8 - Email Marketing Masterclass
      <div class="section-days-to-drip">
        <div class="section-days-logged-in">
          Available in
          <span class="section-days-to-drip-number"></span>
          days
        </div>
        <div class="section-days-logged-out">
          <span class="section-days-to-drip-number"></span>
          days
          after you enroll
        </div>
      </div>
    </div>
    <ul class='section-list'>

      <li class='section-item incomplete' data-lecture-id="1453373">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453373'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Introduction - Why Everything Boils Down To Email Marketing

                (1:04)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453375">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453375'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              How To Use Email Marketing Software To Nurture Leads & Generate Sales

                (10:33)


            </span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 course-section'>
    <div class='section-title' data-release-date="" data-days-until-dripped="13" data-is-dripped-by-date="false" data-course-id="86710">
      <span class="section-lock">
        <i class="fa fa-lock"></i>&nbsp;
      </span>
      Section 9 - Connecting All The Dots
      <div class="section-days-to-drip">
        <div class="section-days-logged-in">
          Available in
          <span class="section-days-to-drip-number"></span>
          days
        </div>
        <div class="section-days-logged-out">
          <span class="section-days-to-drip-number"></span>
          days
          after you enroll
        </div>
      </div>
    </div>
    <ul class='section-list'>

      <li class='section-item incomplete' data-lecture-id="1453381">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453381'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Introduction - How To Integrate All That We've Learnt So Far

                (0:48)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453443">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453443'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Creating Your Customised 45mins/Day Social Media Mindmap

                (7:04)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453577">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453577'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              How To Allocate Teams & Tasks To Efficiently Get Stuff Executed

                (7:33)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453593">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453593'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              Conclusion - Congrats! On Completing The Course

                (0:51)


            </span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class='row'>
  <div class='col-sm-12 course-section'>
    <div class='section-title' data-release-date="" data-days-until-dripped="14" data-is-dripped-by-date="false" data-course-id="86710">
      <span class="section-lock">
        <i class="fa fa-lock"></i>&nbsp;
      </span>
      Section 10 - Bonus Training
      <div class="section-days-to-drip">
        <div class="section-days-logged-in">
          Available in
          <span class="section-days-to-drip-number"></span>
          days
        </div>
        <div class="section-days-logged-out">
          <span class="section-days-to-drip-number"></span>
          days
          after you enroll
        </div>
      </div>
    </div>
    <ul class='section-list'>

      <li class='section-item incomplete' data-lecture-id="1453598">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453598'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              How To Generate Leads In The Next 10 Minutes Using INSTAPAGE?

                (8:02)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453599">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453599'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              How To Measure Your Social Media Influence % Using KLOUT?

                (5:55)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="1453615">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/1453615'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              How To Send Stunning Emails To Your Lists Using GETRESPONSE?

                (12:11)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="3495434">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/3495434'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              How To Find HOT VIRAL Topics On Social Media Using BUZZSUMO?

                (2:21)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="3495438">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/3495438'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              How To Clean Up Your Mailbox From Junk Mails Using UNROLL?

                (2:46)


            </span>
          </div>
        </a>
      </li>

      <li class='section-item incomplete' data-lecture-id="3495443">
        <a class='item' data-no-turbolink='true' href='/courses/86710/lectures/3495443'>
          <span class='status-container'>
            <span class='status-icon'>
              &nbsp;
            </span>
          </span>
          <div class='title-container'>
            <div class='btn-primary btn-sm pull-right'>
              Start
            </div>
            <span class='lecture-icon'>
              <i class='fa fa-youtube-play'></i>
            </span>
            <span class='lecture-name'>
              How To Increase Your Personal Productivity Online By Using HEADSPACE?

                (5:37)


            </span>
          </div>
        </a>
      </li>

    </ul>
  </div>
</div>

<br>



    </div>


  </body>
</html>
