<!DOCTYPE html>
<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='img/favicons/favicon.ico' rel='icon' type='image/png'>
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta charset="UTF-8">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="bqRyKw1zPGDQz88ziKXGW4aXjdjHada94FLwHXMiG7EdsaMtnMtJ97adbhBre3GTLOKCD8L/XslNFSoEw6q2rw==" />
    <link rel="stylesheet" media="screen" href="css/bootstrap.css" data-turbolinks-track="true" />
    <link href="css/style-82475caffdf84a102e6ba777aba7d3f7d0d22ddd.css" rel="stylesheet" data-turbolinks-track="true"></link>
    <title>THE PHOTOGRAPHY CLUB</title>
    <meta name="brand_video_player_color" content="#ed6c35" />
    <style></style>
    <script src='//fast.wistia.com/assets/external/E-v1.js'></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script src=""></script>
    <script src="js/application-392c65ce02d4ed1301d5397d98dc08dfd5806f7cdfcf23a93f81606bf6cacd56.js" data-turbolinks-track="true"></script>
    <script src="js/student-f26a4bcc75b257dba627.js"></script>

    <link href="/blog/rss" rel="alternate" title="RSS Feed" type="application/rss+xml" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>

<body class='body-content-view'>
    <meta http-content='IE=Edge' http-equiv='X-UA-Compatible'>
    <meta content='width=device-width,initial-scale=1.0,user-scalable=no' name='viewport'>

    <!-- Lecture Header -->
    <header class='full-width half-height is-signed-in'>
        <div class="navbar navbar-fedora">
            <div class='navbar-header'>
                <div class='lecture-left'>
                    <a class='nav-icon-back' href="/courses/">
                        <i class='fa fa-angle-left'></i>
                    </a>
                </div>
                <button class='navbar-toggle' data-target='.navbar-header-collapse' data-toggle='collapse' type='button'>
                    <span class='sr-only'>
            Toggle navigation
          </span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                    <span class='icon-bar'></span>
                </button>

                <!-- Header Menu -->
                <div class='collapse navbar-collapse navbar-header-collapse'>
                    <ul class='nav navbar-nav navbar-right'>

                        <div class='navbar-enrolled'>
                            <!-- Sidebar Nav -->

                            <li class="">
                                <a href='Class-Curriculum.html' class='sidebar-nav-link'>
                                    <span class='lecture-sidebar-icon'>
          <i class='fa fa-list-alt'></i>
        </span> Class Curriculum
                                </a>
                            </li>

                            <li class="">
                                <a href='initial_assesment.html' class='sidebar-nav-link'>
                                    <span class='lecture-sidebar-icon'>
          <i class='fa fa-th'></i>
        </span> Assesment & Report
                                </a>
                            </li>
                            <li class="">
                                <a href='included_courses.html' class='sidebar-nav-link'>
                                    <span class='lecture-sidebar-icon'>
          <i class='fa fa-th'></i>
        </span> Included Courses
                                </a>
                            </li>

                            <li class="">
                                <a href='instructor.html' class='sidebar-nav-link'>
                                    <span class='lecture-sidebar-icon'>
        <i class='fa fa-user'></i>
      </span> Your Instructor
                                </a>
                            </li>
                        </div>
                        <li class='dropdown'>
                            <a aria-expanded='false' aria-haspopup='true' class='fedora-navbar-link navbar-link dropdown-toggle open-my-profile-dropdown' data-toggle='dropdown'>
                                <img class='gravatar' src='img/author-img.png' alt="owaizkhan10@gmail.com">
                                <span class='navbar-current-user'>Sidarth</span>
                            </a>
                            <ul class='dropdown-menu'>
                                <li class='user-profile'>
                                    <a href='/current_user/profile'>
      Edit Profile
    </a>
                                </li>
                                <li>
                                    <a href='/current_user/subscriptions'>
      Manage Subscriptions
    </a>
                                </li>
                                <li>
                                    <a href='/current_user/credit_card'>
      Add / Change Credit Card
    </a>
                                </li>
                                <li>
                                    <a href='/current_user/contact'>
      Contact
    </a>
                                </li>
                                <li class='user-signout'>
                                    <a href='/sign_out'>
      Log Out
    </a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class='course-sidebar'>
  <!-- Image & Title -->
  <img class='course-image' src='img/course-4.jpg'>
  <h2>Social Media LAUNCHPAD!</h2>
  <!-- Course Progress -->
  <div class='course-progress'>
    <div class='progressbar'>
      <div class='progressbar-fill' style='min-width: 55%;'></div>
    </div>
    <div class='small course-progress'>
      <span class='percentage'>
        55%
      </span>
      COMPLETE
    </div>
  </div>
  <ul class='sidebar-nav'>
      <!-- Sidebar Nav -->

    <li class="selected">
      <a href='Class-Curriculum.html' class='sidebar-nav-link'>
        <span class='lecture-sidebar-icon'>
          <i class='fa fa-list-alt'></i>
        </span>
        Class Curriculum
      </a>
    </li>

    <li class="selected">
      <a href='initial_assesment.html' class='sidebar-nav-link'>
        <span class='lecture-sidebar-icon'>
          <i class='fa fa-list-alt'></i>
        </span>
        Assesment & Reports
      </a>
    </li>

    <li class="">
      <a href='included_courses.html' class='sidebar-nav-link'>
        <span class='lecture-sidebar-icon'>
          <i class='fa fa-th'></i>
        </span>
        Included Courses
      </a>
    </li>

  <li class="">
    <a href='instructor.html' class='sidebar-nav-link'>
      <span class='lecture-sidebar-icon'>
        <i class='fa fa-user'></i>
      </span>
      Your Instructor
    </a>
  </li>



  </ul>
</div>


    <div class='course-mainbar' style='display: block;'>

  <h2 class='section-title'>
  Your Instructor
</h2>
<div class='row'>
  <div class='col-lg-2 col-md-2 col-sm-2 text-center'>
    <img class='large-img-rounded img-responsive' src='img/author-img.png'>
    <br>
    <div class='author-name'>
      Arun Kumar
    </div>
  </div>
  <div class='col-lg-9 col-md-8 col-sm-8'>
    <p>A musician turned social media geek, Siddharth Rajsekar aka “Sidz” is one of most sought after social media strategists and speakers who’s personally trained over 5000+ entrepreneurs and business owners in India and the Middle East in using platforms such as Facebook, LinkedIn, Twitter, Instagram and Pinterest in the most effective way.
</p>
<p>His speciality has always been in learning, understanding, implementing & then simplifying social media marketing strategies so that businesses can quickly take action and get results. His teaching style is extremely practical, engaging and concept-oriented, that anyone can quickly learn and execute.
</p>
  </div>
</div>
<br>



    </div>


  </body>
</html>
